<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1093306404173-3kar90itgmjlar917cu4ea11lrum7v9v.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1093306404173-3kar90itgmjlar917cu4ea11lrum7v9v</string>
	<key>API_KEY</key>
	<string>AIzaSyAAQs1aJtz_BdNVPMG0jMeE30EVo9mtM8w</string>
	<key>GCM_SENDER_ID</key>
	<string>1093306404173</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>coAldik.appbrewery.Flash-Chat-iOS13</string>
	<key>PROJECT_ID</key>
	<string>flashchatios13-248e7</string>
	<key>STORAGE_BUCKET</key>
	<string>flashchatios13-248e7.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1093306404173:ios:6ee96bda6e981b9a033b04</string>
</dict>
</plist>